list {
    background-color: transparent;
}

progressbar trough {
    /* Make all progress bars larger */
    min-height: 10px;
}

progressbar progress {
    min-height: inherit;
}

.warning-label {
    color: #ffA400;
}

.error-label {
    color: #ff3800;
}

.free-disk-space > trough > block.low {
    background-color: #ff3800;
}

.free-disk-space > trough > block.high {
    background-color: #ffA400;
}

.auditing-performance > trough > block.low,
.proving-performance > trough > block.low {
    background-color: #ffA400;
}

.farm-error {
    color: #ff3800;
}

farm-sector {
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #727272;
    min-width: 5px;
    min-height: 5px;
    margin: 1px;
}

farm-sector.plotted {
    background-color: #9fc4ff;
}

farm-sector.about-to-expire {
    background-color: #ffd678;
}

farm-sector.expired {
    background-color: #ff877c;
}

@keyframes animate-downloading {
    to {
        background-color: #499249;
    }
}

farm-sector.downloading {
    animation-duration: 1s;
    animation-name: animate-downloading;
}

@keyframes animate-encoding {
    to {
        background-color: #ff5365;
    }
}

farm-sector.encoding {
    animation-duration: 0.2s;
    animation-name: animate-encoding;
}

@keyframes animate-writing {
    from {
        background-color: #727272;
    }
    to {
        background-color: #9fc4ff;
    }
}

farm-sector.writing {
    animation-duration: 1s;
    animation-name: animate-writing;
}

.folder-button {
    padding: 0;
}

/* dashboard styling below */

.dashboard-title {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.last-day-label {
    font-weight: bold;
    color: #000; 
}

.status-label {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.data-box,
.farm-stats,
.detailed-stats {
    background-color: #FFF;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    padding: 20px;
}

.stat-box {
    background-color: #FFF;
    padding: 5px;
}

.data-label {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
}

.stat-label {
    font-size: 15px;
    color: #000;
    margin-top: 10px;
}

.detail-stat-label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.button-box {
    display: flex;
    flex-direction: column;
}

.dashboard-button {
    background-color: #E6F1F3;
    color: #000;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-button:hover {
    background-color: #D4E7EA;
}

/* Additional Colors */
.orange {
    color: orange;
}

.green {
    color: green;
}
