[Desktop Entry]
Type=Application
Name=Space Acres
Categories=Network
GenericName=Subspace Network Farming Software
Comment=Space Acres is an opinionated GUI application for farming on Subspace Network
Keywords=subspace;farmer;farming
Icon=space-acres
Exec=space-acres
Terminal=false
StartupNotify=false
StartupWMClass=space-acres
