[Desktop Entry]
Type=Application
Name=Space Acres
Comment=Space Acres is an opinionated GUI application for farming on Subspace Network
Icon=space-acres
Exec=space-acres --startup
